@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: white;
}

:root {
  font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(56, 56, 56);
  border-bottom: 2px solid rgb(113, 113, 248);
  padding: 20px 0px;
  display: flex;
  place-content: center;
  font-size: clamp(2rem, 12.5vw, 5.5rem);
  box-shadow: 0 0 15px black;
  z-index: 1;
}

main {
  background-color: rgb(146, 146, 146);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(113, 113, 248);
  border-right: 1px solid rgb(113, 113, 248);
}

main .selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #eee;
  border-radius: 6px;
  gap: 20px;
  padding: 10px 0;
  width: 85%;
  background-color: rgb(113, 113, 248);
  visibility: visible;
}

main .selection .markers {
  display: flex;
}

main .selection .markers div {
  background-color: rgb(56, 56, 56);
  padding: 10px 40px;
  margin: 0 20px;
  border: 1px solid #eee;
  text-align: center;
  font-size: 3rem;
  border-radius: 8px;
}

main .selection .markers div:hover {
  background-color: rgb(146, 146, 146);
  cursor: default;
}

main .selection .markers div:active {
  transform: scale(0.95);
}

main .board {
  width: 85%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
}

main .board div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26.6666666667%;
  height: 30%;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(113, 113, 248);
  font-size: clamp(4rem, 7.5vw, 18rem);
  box-shadow: 0 0 4px black;
}

main .board div:hover {
  background-color: rgb(139, 139, 252);
  cursor: default;
}

main .board div:active {
  transform: translateY(2px);
}

main .score {
  width: 85%;
  display: flex;
  justify-content: space-around;
  font-size: 2.5rem;
  border: 1px solid black;
  position: relative;
  box-shadow: 0 0 8px black;
  visibility: visible;
}

main .score div {
  text-align: center;
  padding: 4px 0;
  color: rgb(113, 113, 248);
  text-shadow: 1px 1px 1px black;
}

main .restart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

main .restart div {
  background-color: rgb(56, 56, 56);
  padding: 10px 40px;
  margin: 0 20px;
  text-align: center;
  font-size: 3rem;
  border-radius: 8px;
}

main .restart div:hover {
  cursor: default;
  box-shadow: 0 0 25px rgb(113, 113, 248);
  text-shadow: 1px 0px 10px rgb(113, 113, 248);
}

main .restart div:active {
  transform: scale(0.95);
}

footer {
  background-color: rgb(56, 56, 56);
  border-top: 2px solid rgb(113, 113, 248);
  padding: 10px 0px;
  display: flex;
  place-content: center;
}