@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: rgb(146, 146, 146);
$secondary-color: rgb(56, 56, 56);
$accents: rgb(113, 113, 248);

@mixin shadow($weight) {
    @if $weight =="light" {
        box-shadow: 0 0 1px black;
    }

    @else if $weight =="medium" {
        box-shadow: 0 0 4px black;
    }

    @else if $weight =="heavy" {
        box-shadow: 0 0 8px black;
    }

    @else if $weight =="heaviest" {
        box-shadow: 0 0 15px black;
    }

    @else if $weight =="inset" {
        box-shadow: inset 0 0 8px black;
    }
}


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: white;
}

:root {
    font-size: 16px;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    background-color: $secondary-color;
    border-bottom: 2px solid $accents;
    padding: 20px 0px;
    display: flex;
    place-content: center;
    font-size: clamp(2rem, 12.5vw, 5.5rem);
    @include shadow("heaviest");
    z-index: 1;
}

main {
    background-color: $primary-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $accents;
    border-right: 1px solid $accents;

    // The section for when the game starts and player 1 has to choose their marker
    .selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        font-size: 2rem;
        border: 1px solid #eee;
        border-radius: 6px;
        gap: 20px;
        padding: 10px 0;
        width: 85%;
        background-color: $accents;
        visibility: hidden;

        .markers {
            display: flex;

            div {
                background-color: $secondary-color;
                padding: 10px 40px;
                margin: 0 20px;
                border: 1px solid #eee;
                text-align: center;
                font-size: 3rem;
                border-radius: 8px;

                &:hover {
                    background-color: $primary-color;
                    cursor: default;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    // The actual game board
    .board {
        width: 85%;
        height: 60%;
        display: flex;
        flex-flow: row wrap;
        place-content: center;
        // visibility: hidden;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(80%/3);
            height: calc(90%/3);
            border: 2px solid black;
            border-radius: 8px;
            background-color: $accents;
            font-size: clamp(4rem, 7.5vw, 18rem);
            @include shadow("medium");

            &:hover {
                background-color: rgb(139, 139, 252);
                cursor: default;
            }

            &:active {
                transform: translateY(2px);
            }
        }
    }

    // Section for the score
    .score {
        width: 85%;
        display: flex;
        justify-content: space-around;
        font-size: 2.5rem;
        border: 1px solid black;
        position: relative;
        // transform: translateY(-20px);
        @include shadow("heavy");
        visibility: visible;

        div {
            text-align: center;
            padding: 4px 0;
            color: $accents;
            text-shadow: 1px 1px 1px black;
        }
    }

    // The section for restarting the game
    .restart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
        // visibility: hidden;

        div {
            background-color: $secondary-color;
            padding: 10px 40px;
            margin: 0 20px;
            text-align: center;
            font-size: 3rem;
            border-radius: 8px;


            &:hover {
                cursor: default;
                box-shadow: 0 0 25px $accents;
                text-shadow: 1px 0px 10px $accents;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }


}

footer {
    background-color: $secondary-color;
    border-top: 2px solid $accents;
    padding: 10px 0px;
    display: flex;
    place-content: center;
}